.fenet {
    display: none;
    position: absolute;
    border: 1px solid #bbbbbb;
    /* background-color: white; */
    background-image: url("../img/welcome-bg2.jpg");
    /* background-size: 10em; */
    z-index: 1002;
    overflow: auto;
    top: 20%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
    padding-bottom: 4em;
    border-radius: 1em;
}

.fenet input{
    height: 2.5em;
    border: 1px solid #bbbbbb;
    width: 90%;
}
.fenet button:not(.closeBtn),
.fenet input{
    border-radius: 20px;
}

.fenet button{
    cursor: pointer;
}

.fenet button:not(.closeBtn){
    height: 1.5em;
    width: 10em;
    background-color: white;
    border-color: transparent;
    /* background-color: #9c88ff; */
}

.form_submit {
    padding: 1em 0 0 0;
}

.form-id {
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
}

@keyframes shake {
    25% {
        transform: translate(4px);
    }

    50% {
        transform: translate(-4);
    }

    75% {
        transform: translate(4px);
    }
}

input:invalid {
    animation: shake 0.3s ease-in-out 0s 2;
    color: rgb(211, 0, 0);
}

/* #add-new-site input {
    margin-bottom: .3em;
} */

/* #add-new-site{
    border: red 2px solid;
    width: 80%;
    height: 100%;
} */

#add-new-site textarea {
    resize: none;
}

#add-new-site * {
    width: 17.675em;
}

.nav_menu>div {
    /* visibility: hidden; */
    display: none;
    /* transition: all 0.4s 0s ease-in-out; */
}

.nav_menu.open>div {
    /* visibility: visible; */
    display: block;
}

#add-new-site input[placeholder="lon"],
#add-new-site input[placeholder="lat"] {
    width: 8.4em;
    cursor: not-allowed;
    margin-top: .5em;
}

@media screen and (max-width: 800px) {
    #add-new-site * {
        width: 12em;
    }

    #add-new-site input[placeholder="lon"],
    #add-new-site input[placeholder="lat"] {
        width: 5.5em;
    }
}

/*========== button liked witch forms ==========*/

#log {
    width: 100%;
    position: absolute;
    bottom: 1em;
    display: flex;
    /* border: solid red 2px; */
    justify-content: space-evenly;
}

#log button {
    border-color: transparent;
    border-radius: 10px;
    width: 8em;
    height: 3em;
    box-shadow: inset 0 0 0 4px #333;
    color: #333;
    transition: color 0.25s;
    position: relative;
}

#log button::before,
#log button::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

#log button::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

#log button::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

#log button:hover {
    color: #9c88ff;
}

#log button:hover::before,
#log button:hover::after {
    border-radius: 10px;
    border-color: #9c88ff;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

#log button:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

#log button:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

#log #log-in {
    cursor: pointer;
}

#log #log-out {
    cursor: not-allowed;
    transition: all .2s 0s ease-in-out;
}