.fenet {
    display: none;
    position: absolute;
    border: 1px solid #bbbbbb;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    top: 20%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
    padding-bottom: 4em;
}

.form_submit {
    padding: 1em 0 0 0;

}

.form_submit input,
.form_submit button {
    border-radius: 20px;
    border: 1px solid #bbbbbb;
    width: 90%;
}

#font_login {
    font-weight: 400;
    font-size: 24px;
    text-align: left;
}

@keyframes shake {
    25% {
        transform: translate(4px);
    }

    50% {
        transform: translate(-4);
    }

    75% {
        transform: translate(4px);
    }
}

input:invalid{
    animation: shake 0.3s ease-in-out 0s 2;
    color: red;
}

#add-new-sites textarea{
    resize: none;
}

#add-new-site{
    visibility: hidden;
    /* transition: all 0.4s 0s ease-in-out; */
}
.nav_menu.open #add-new-site{
    visibility: visible;
}