@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

*{
    font-family: 'Advent Pro', sans-serif;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 800px),
screen and (max-device-width:800px) {
    #nav {
        width: 40%;
        font-size: 0.7em;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 2em;
        top: 2em;
        transform: translate(-5%, -50%);
        z-index: 4;
        transition: all .7s ease;
    }

    .nav-bar {
        position: fixed;
        background: #333;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-bar.open {
        clip-path: circle(100in at 90% -10%);
        -webkit-clip-path: circle(100in at 90% -10%);
        pointer-events: all;
        z-index: 3;
        height: 100vh;
    }
    

    .nav-bar li {
        opacity: 0;
    }

    .nav-bar li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-bar li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-bar li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-bar li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-bar li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-bar li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-bar li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

@media screen and (max-width: 630px){
    #nav {
        width: 55%;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 460px){
    #nav {
        width: 70%;
        font-size: 0.7em;
    }
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: red;
    margin: 5px;
    transition: all 0.3s ease;
}

#tt {
    height: 100vh;
}

#map {
    height: 100%;
    position: relative;
    z-index: -10;
    filter: blur(10px);
    /* cursor: not-allowed; */
}

.nav-bar .animation img{
    background-color: #9c88ff;
    border-radius: 50px;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.nav-bar .animation p{
    width: 9em;
    font-weight: bold;
    /* border: solid red 2px; */
    text-transform: none;
}

#nav {
    z-index: 3;
    float: right;
    background-color: #333;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 17.278em;
}

#nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    text-transform: uppercase;
    height: 100vh;
}

#nav ul li {
    margin: 0 0 1em 0;
    color: white;
    position: relative;
}

#nav .nav_menu,
#msg {
    padding: 1em;
}

#nav .nav_menu{
    /* border: coral 2px solid; */
    height: 2%;
    transition: all .2s 0s ease-in-out;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nav .nav_menu div{
    text-transform: none;
}

button#modify{
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.closeBtn{ 
    background-color: transparent;
    border: transparent;
    color: #c0c5cb;
    width: 30px;
    font-size: 1.5em;
    margin: .5em .5em 0 .5em;
    display: flex;
}

#nav .nav_menu.open{
    color: #333;
    background: rgb(170,211,223);
    height: 30%;
    cursor:auto;
}

.animation {
    /* background-color: #636363; */
    /*background-image change selon meteo*/
    /* background-image: url('https://cdn.kikinote.net/wp-content/uploads/2013/10/Google-Chrome%E6%93%B4%E5%85%85%E5%8A%9F%E8%83%BD-%E4%B8%8B%E9%9B%A8%E8%81%B2%E9%9F%B3%E6%A8%82MP3.gif'); */
    height: 12em;
    right: 0;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#popup{
    width: 20em;
    height: 5.25em;
    z-index: 10;
    position: absolute;
    background-color: #333;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    border-radius: 10px;
    text-align: center;
    /* border: solid yellow 2px; */
    visibility: hidden;
    /* display: none; */
    transition: all .2s 0s ease-in-out;
}

#popup.trigger{
    visibility: visible;
    /* display: block; */
    top: 12.5%;
    transform: translate(-50%, -50%) scale(1);
}

#popup h2{
    /* border: solid cyan 2px; */
    position: relative;
    color: rgb(170,211,223);
    transform: translateY(-2.75em);
}

#popup img{
    /* border: red solid 2px; */
    width: 5em;
    /* position: absolute;   */
    transform: translateY(-3em);
}